<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="components/template_user.html::head" />
<body>
<div th:include="components/template_admin.html::navbar" />
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="mt-5" height="300px" width="300px" src="" th:src="@{${'/productImages/' + product.imageName}}"
                 alt="">
        </div>
        <div class="col-sm-7 mt-5">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.category.name}"></p>
            <h2>₹ <span th:text="${product.price}"></span></h2>
            <h5>Weight:
                <span th:text="${product.weight}"></span> grams.
            </h5>
            <p th:text="${product.description}"></p>
            <a href="" th:href="@{/addToCartDetail/{id}(id = ${product.id})}" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>
<div th:include="components/template_user.html::footer" />
</body>
</html>